html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* My code starts here! */
.container {
  max-width: 880px;
  margin: 0 auto;
  padding: 20px 1.25%;
  display: flex;
}

.nav-top {
  padding-top: 1em;
}
.nav-top a {
  text-decoration: none;
  margin: 20px;
  padding: 10px;
  width: 10%;
  display: inline-block;
  color: black;
}

img.logo {
  display: inline-block;
  width: 130px;
  height: 40px;
  margin-top: 20px;
}

.header-part {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  border-bottom: 1px solid black;
}

.header-part {
  font-size: 80px;
  width: 100%;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.header-part button {
  background: white;
  padding: 10px 50px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
  margin-right: 20px;
}

.header-part img {
  margin: 0 auto;
  padding-left: 90px;
}

.middle-img {
  padding: 30px;
  width: 97%;
  height: 50%;
  margin: 0 auto;
}

.text-content {
  display: flex;
  margin: 0 auto;
  padding: 20px;
}

.container-one {
  display: inline-block;
  width: 45%;
  margin: 10px;
}

.container-two {
  display: block;
  width: 45%;
  margin-left: 48px;
}

.second-text {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.one-row {
  display: block;
  width: 32%;
  margin-left: 10px;
}

.two-row {
  display: block;
  width: 32%;
  margin-left: 10px;
}

.three-row {
  display: block;
  width: 32%;
  margin-left: 10px;
}

address {
  margin: 20px;
  padding: 20px;
}

.phone {
  line-height: 3.5;
}

footer {
  text-align: center;
  margin: 20px;
  padding: 20px;
}

/* tablet */
@media (max-width: 800px) {
  .nav-top {
    display: flex;
  }
  .nav-top a {
    flex-direction: row;
    align-items: flex-start;
    padding-top: 20px;
  }

  img .logo {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  button {
    padding: 10px 33px;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .header-img {
    display: none;
  }

  .header-part {
    text-align: center;
    width: 85%;
    padding: 40px;
    margin: 0 auto;
  }
  .container-two div {
    display: inline-block;
    width: 45%;
    margin-left: 0;
  }
  .middle-img {
    height: 45%;
    width: 100%;
  }
  .three-row {
    display: inline-block;
    width: 32%;
    margin-left: 0;
  }
}

/* phone */
@media (max-width: 500px) {
  nav .logo {
    padding: 20px;
    text-align: center;
    margin: 0 auto;
  }

  .header-img {
    display: none;
  }
  .nav-top {
    display: flex;
    flex-direction: column;
  }
  .nav-top a {
    margin: 20px 20px;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid gray;
  }
  header {
    justify-content: center;
    display: flex;
  }

  /*header nav {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }*/

  /*header nav a {
    width: 100%;
    display: flex;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
    border-bottom: 1px solid gray;
  }
*/
  .header-part div {
    text-align: center;
    width: 100%;
  }
  .first-row .container-one {
    text-align: left;
    width: 95%;

    padding-bottom: 20px;
  }
  .first-row .container-two {
    text-align: left;
    width: 95%;
    display: block;
  }
  .middle-img {
    height: 50%;
    width: 100%;
    padding-bottom: 0;
  }
  section .second-text {
    display: flex;
  }
  .second-text .one-row {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
  }
  .second-text .two-row {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
  }
  .second-text .three-row {
    flex-direction: column;
    width: 100%;
    padding: 20px;
    justify-content: flex-start;
  }
}
